/* Matrix */

.matrix-anim {
  position: relative;
}

.matrix-anim::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  width: 10px;
  border-left: 2px solid var(--text-color-white);
  border-top: 2px solid var(--text-color-white);
  border-bottom: 2px solid var(--text-color-white);
  transition: left 1s ease, border-width 0.1s ease;
}

.matrix-anim::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  width: 10px;
  border-right: 2px solid var(--text-color-white);
  border-top: 2px solid var(--text-color-white);
  border-bottom: 2px solid var(--text-color-white);
  transition: right 1s ease, border-width 0.1s ease;
}

.default {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
  line-height: normal;
}

.row {
  display: inline-block;
  transition: transform 1s ease;
}

.row:nth-child(1) {
  transform-origin: 1px 9px;
}

.row:nth-child(3) {
  transform-origin: calc(100% - 2px) 12px;
}

.row span {
  display: inline-block;
  transition: transform 1s ease, font-weight 0.1s ease;
}

.tasks-cards__card-link:hover .matrix-anim::after{
  right: -25px;
  border-width: 3px;
}

.tasks-cards__card-link:hover .matrix-anim::before{
  left: -25px;
  border-width: 3px;
}

.tasks-cards__card-link:hover .row {
  transform: rotate(90deg);
}

.tasks-cards__card-link:hover .row span {
  font-weight: 700;
  transform: rotate(-90deg);
}